<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 定义rabbitmq connectionFactory
     确认模式开启：publisher-confirms="true"
    -->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"
                               publisher-confirms="true"
                               publisher-returns="true"/>
    <!--定义管理交换机、队列-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--定义rabbitTemplate对象操作可以在代码中方便发送消息-->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>

    <!--消息可靠性投递（生产端）-->
    <rabbit:queue id="queueConfirm" name="queueConfirm"/>
    <rabbit:direct-exchange name="queueExchange">
        <rabbit:bindings>
            <rabbit:binding queue="queueConfirm" key="queueConfirm"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!--TTL过期时间-->
    <!--ttl队列-->
    <rabbit:queue name="queuettl" id="queuettl">
        <rabbit:queue-arguments>
            <entry key="x-message-ttl" value="15000" value-type="java.lang.Integer"/>
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!--ttl交换机-->
    <rabbit:topic-exchange name="topicExchange">
        <rabbit:bindings>
            <rabbit:binding pattern="ttl.#" queue="queuettl"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--dlx-->
    <!--正常队列和交换机绑定-->
    <rabbit:queue name="queuedlx" id="queuedlx">
        <rabbit:queue-arguments>
            <!--死信交换机名称-->
            <entry key="x-dead-letter-exchange" value="dlxexchange"/>
            <!--死信交换机路由-->
            <entry key="x-dead-letter-routing-key" value="dlx.dlx"/>
            <!--其他死信参数-->
            <!--设置队列的过期时间 ttl-->
            <entry key="x-message-ttl" value="10000" value-type="java.lang.Integer"/>
            <!--            设置队列的长度限制 max-length -->
            <entry key="x-max-length" value="10" value-type="java.lang.Integer"/>
        </rabbit:queue-arguments>
    </rabbit:queue>
    <!--正常交换机-->
    <rabbit:topic-exchange name="exchangedlx">
        <rabbit:bindings>
            <rabbit:binding pattern="test.dlx.#" queue="queuedlx"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!--死信队列和死信交换机-->
    <rabbit:queue name="dlxqueue" id="dlxqueue"/>
    <rabbit:topic-exchange name="dlxexchange">
        <rabbit:bindings>
            <rabbit:binding pattern="dlx.#" queue="dlxqueue"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
</beans>